@import url(http://fonts.googleapis.com/css?family=Ledger|Dancing+Script);

body {
  font-family: 'Ledger', Helvetica, serif;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F1E8E0;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(44,62,80,.2), rgba(44,62,80,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(44,62,80,.2), rgba(44,62,80,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(44,62,80,.2), rgba(44,62,80,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(44,62,80,.2), rgba(44,62,80,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

header {
  width: 100%;
  height: 225px;
  position:fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
  background: #c74134;
  background: -moz-linear-gradient(top, #c74134 0%, #e74c3c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #c74134), color-stop(100%, #e74c3c));
  background: -webkit-linear-gradient(top, #c74134 0%, #e74c3c 100%);
  background: -o-linear-gradient(top, #c74134 0%, #e74c3c 100%);
  background: -ms-linear-gradient(top, #c74134 0%, #e74c3c 100%);
  background: linear-gradient(to bottom, #c74134 0%, #e74c3c 100%);
}

img {
  width: 100%;
  height: 225px;
  border: 2px solid black;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 125px;
  text-align: center;
  text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #999;
  line-height: 175%;
}

.card-container {
  perspective: 1000;
}

.card-container:hover .card, .card-container:hover .card {
    transform: rotateY(180deg);
  }

.card-container, .front, .back {
  width: 100%;
}

.card {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.main {
  line-height: 32px;
  margin: 32px;
  padding: 32px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
  position: absolute;
  top: 350px;
  left: 250px;
}

h2:hover {
  transform: scale(2.0);
}

h2 .fa {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

h2 .fa:hover {
  color: red;
}

p {
  margin: 20px;
}

.intro {
  float: right;
  width: 750px;
  margin-bottom: 60px;
}

nav {
  background-color: #2C3E50;
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 250%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 225px;

}

li {
  display: inline;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: #F1E8E0;
}

nav li:hover {
  background-color: #3498DB;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

th, td {
  padding: 2px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

tbody:first-child {
  color: #e74c3c;
}

tr:nth-child(even) {
  background-color: #2980B9;
  color: #F1E8E0;
}

fieldset {
  border: 2px solid black;
  background-color: white:
  text-align: center;
  width: 550px;
  padding: 20px;
  position: relative;
  left: 550px;
  bottom: 40px;
  border-radius: 15px;
}

legend {
  text-align: center;
  color: #F1E8E0;
  border: 1px solid black;
  background-color: #e74c3c;
  border-radius: 15px;
  padding: 5px;
}

.button {
  text-align: center;
  color: #fff;
  background: #226fbe;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: 2px solid #226fbe;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  font-family: "Ledger", Helvetica, serif;
  font-size: 16px;
  cursor: pointer;
}

.button:active {
  top: 2px;
}

.button:hover {
  border: 2px solid #F1E8E0;
  color: #F1E8E0;
}

blockquote {
  float: right;
  width: 250px;
  border-top: 2px solid #e74c3c;
  border-bottom: 2px solid #e74c3c;
  font-size: 130%;
  padding: 20px;
  margin-left: 10px;
}

footer {
  background-color: #2C3E50;
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 250%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

footer li {
 color: #F1E8E0;
}
